h1 {
  font-size: 2rem;
}

b {
  color: black;
}

form {
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form > * {
  margin: 8px;
}

[type="submit"] {
  color: white;
  font-weight: 600;
  background-color: #5fb523 !important;
  border: 1px solid white;
  padding: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3) inset;
}

.notice {
  background-color: rgba(95, 181, 35, 0.8);
  padding: 10px;
  border-radius: 0 30px 30px 0;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
}

.alert {
  background-color: rgba(214, 0, 0, 0.8);
  padding: 10px;
  border-radius: 0 30px 30px 0;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
}

.main {
  padding-top: 100px;
  font-family: sans-serif;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main > * {
  margin-bottom: 20px;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.6);
  background-color: #3778c2;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar > * {
  color: white;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  background-color: white;
  padding: 10px;
  border: solid 2px lightgray;
  height: 100px;
  color: grey;
  cursor: pointer;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.5);
}

.item > img {
  width: 25%;
  max-height: 100%;
  max-width: 120px;
}

.item > span {
  padding-left: 5%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.transaction {
  background-color: white;
  max-width: 95%;
  border: solid 2px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  min-height: 50vh;
  justify-content: space-between;
}

.transaction h1 {
  cursor: pointer;
}

.transaction h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}

.transaction p {
  color: grey;
}
