<div onclick="window.location='/categories/<%=category.id%>'" class="item">
  <img src=<%=category.icon%>>
  <span>
    <h3><%= category.name %></h3>
    <% total = 0 %>
    <p><b><% Entity.where(group_id: category.id).each do |entity| total += entity.amount end%>Total: <%= total %></b></p>
  </div>
</div>