<div>
  <img src=<%=category.icon%>>
  <div>
    <% total = 0 %>
    <h3><%= category.name %></h3>
    <p><% category.entities.each do |entity| total += entity.amount end%>Total: <%= total %></p>
  </div>
</div>